.container{
    margin-bottom: 100px;
}

.carousel-item{
    padding: 20px 40px;
}

.buy-now-button{
    background-image: linear-gradient(180deg, rgb(53, 53, 53),black);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.see-all{
    color: orange;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.card-title, .card-text,.card-footer, .price{
    text-align: center;
}